#header {
  filter: drop-shadow(0 0 5px rgb(0, 0, 0));
  width: 500px;
  height: 200px;
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
  color: white;
  font-family: 'Black Clover Font', sans-serif;
  letter-spacing: 20px;
  font-size: 20px;
}
