

<div class="ground">

  <div id="clover">
    <div class="leaf" (click)="handleLeafClick(1)"></div>
    <div class="leaf" (click)="handleLeafClick(2)"></div>
    <div class="leaf" (click)="handleLeafClick(3)"></div>
    <div class="leaf" (click)="handleLeafClick(4)"></div>
    <div class="leaf" (click)="handleLeafClick(5)"></div>
    <div class="star">
      <div class="star-inner"></div>
    </div>
  </div>

  <div class="relative-container">
    <img src="../assets/images/wizardking.png" alt="King" id="leaf1">
    <img src="../assets/images/yami.png" alt="Yami" id="leaf2">
    <img src="../assets/images/yuno.png" alt="Yuno" id="leaf3">
    <img src="../assets/images/liebe.png" alt="Liebe" id="leaf4">
    <img src="../assets/images/asta.png" alt="Asta" id="leaf5">

  </div>

</div>

<router-outlet></router-outlet>
