.ground {
  position: absolute;
  bottom: 300px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#clover {
  position: relative;
  width: 250px;
  height: 275px;
}

.leaf {
  position: relative;
  width: 100px;
  height: 90px;
  margin-top: 10px;
  z-index: 2;
}

.leaf::before,
.leaf::after {
  content: "";
  position: absolute;
  top: 0;
  width: 52px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  background: rgb(27, 8, 8);
}

.leaf::before {
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.leaf::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.stem {
  position: absolute;
  background-color: rgb(27, 8, 8);
  border: 1px solid white;
  bottom: -232px;
  z-index: 1;
  border-radius: 0px 0px 40px 0px;
  width: 4%;
  height: 45%;
  top: 100%;
  left: 46%;
  transform: rotate(10deg);
}

.ball {
  position: absolute;
  background-color: rgb(27, 8, 8);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.leaf:nth-child(1) {
  top: 201px;
  left: 80px;
  transform: rotate(2deg);
}

.leaf:nth-child(2) {
  top: 126px;
  left: 43px;
  transform: rotate(298deg);
}

.leaf:nth-child(3) {
  top: 22px;
  left: 112px;
  transform: rotate(68deg);
}

.leaf:nth-child(4) {
  top: -46px;
  left: 50px;
  transform: rotate(241deg);
}

.leaf:nth-child(5) {
  top: -134px;
  left: 102px;
  transform: rotate(490deg);
}
