<link href="https://fonts.cdnfonts.com/css/black-clover-font" rel="stylesheet">
<p class="title">hover your mouse</p>
<div class="ground">
  <div id="clover" (click)="handleLeafClick(6)">
    <div class="leaf"></div>
    <div class="leaf"></div>
    <div class="leaf"></div>
    <div class="leaf"></div>
    <div class="leaf"></div>
    <div class="star">
      <div class="star-inner"></div>
    </div>
  </div>

  <p class="hidden-text6">View the About page</p>

  <div class="relative-container">

    <img src="../assets/images/wizardking.png" alt="King" id="leaf1" (click)="handleLeafClick(1)">
    <p class="hidden-text1">Subscribe to a newsletter service</p>

    <img src="../assets/images/yami.png" alt="Yami" id="leaf2" (click)="handleLeafClick(2)">
    <p class="hidden-text2">Format your Emails</p>

    <img src="../assets/images/yuno.png" alt="Yuno" id="leaf3" (click)="handleLeafClick(3)">
    <p class="hidden-text3">(To be determined later).</p>

    <img src="../assets/images/liebe.png" alt="Liebe" id="leaf4" (click)="handleLeafClick(4)">
    <p class="hidden-text4">View the Market</p>

    <img src="../assets/images/asta.png" alt="Asta" id="leaf5" (click)="handleLeafClick(5)">
    <p class="hidden-text5">Scrape YouTube Music</p>

  </div>
</div>
